<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About me</title>
</head>
<body>
    <a class="goBackAb" href="/home">Go back</a>
    <div class="aboutMe">

        <h1 class="title">About me</h1>
        <h2 class="aboutMe">I'm Pedro I'm 24 years old I've lived in the Alentejo, more specifically in Elvas, 
            I studied there until university, I went to Évora where I completed the Arts and Multimedia course,
            then I spent a year doing an internship in the area.</h2>
            <img class="evora" src="/images/Evora.JPG" alt="">
    </div>


</body>
</html>