<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="div4">
        <div class="div1">
                <a class="links" href="/about">About me</a>
                <a class="links" href="/works">Works</a>
                <a class="links" href="/photoGallery">Photo Gallery</a>
        </div>
        <div class="div2">
            <h1 class="intro">Hello!👋 <br>
                I'm Pedro <br>
                I'm a developer <br>
                My background is on <br>
                Arts & Multimidia <br>
                And I'm currently on<br>
                IronHack.</h1>
                
                <img class="prefil" src="/images/Pedro.JPG" alt="">
        </div>
    </div>
            <div class="div3">
        
        
            </div>
    

</body>
</html>