<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Photo Gallery</title>
</head>
<body class="bodyGall">
    <div class="galleryDiv1">
        <a class="goBackGall" href="/home">Go back</a>
        <h1 class="gallH1">Photo Gallery</h1>
        <div>
                <img class="galleryDiv2" src="/images/Pedro1.JPG" alt="">
                <img class="galleryDiv2" src="/images/Pedro2.JPG" alt="">
            </div>
            <div>
                <img class="galleryDiv2" src="/images/Pedro3.JPG" alt="">
                <img class="galleryDiv2" src="/images/Pedro4.JPG" alt="">
            </div>
            <div>
                <img class="galleryDiv2" src="/images/Pedro5.JPG" alt="">
                <img class="galleryDiv2" src="/images/Pedro6.JPG" alt="">
            </div>
        </div>
       
   
    
</body>
</html>