<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesWork.css">
    <title>Works</title>
</head>
<body class="body2">
        <a href="/home">Go back</a>
        <div class="firstDiv">
            <h1 class="firstH1">I interned at an event company
                where I designed the 3D model of the events that would later come to life.</h1>
            <img class="design3D" src="/images/design3D.png" alt="">
        </div>




</body>
</html>